{% block content %}
<!--
<form action="/nameJoke" method="post">
 {% csrf_token %}
    <div>
        <label for="voornaam">voornaam:</label>
        <input type="text" id="voornaam" name="voornaam" />
    </div>
     <div>
        <label for="achternaam">achternaam:</label>
        <input type="text" id="achternaam" name="achternaam" />
    </div>
    <input type="submit" value="Submit">
</form>-->


<form method="POST">
    {% csrf_token %}
    <table border="1">
    {{form}}
    </table>
    <button type="submit">Submit</button>
</form>


{% if naam %}
    <div>{{ naam.voornaam }}</div>
    <div>{{ naam.achternaam }}</div>
{% endif %}

<div>
  <h2>Joke Api</h2>
  <p>id: <strong>{{ id }}</strong></p> 
  <p>joke: <strong>{{ joke }}</strong></p>
</div>


{% endblock %}